*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #f7f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  text-align: center;
  width: 100%;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
}

.board{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.list{
  background-color: #cfd0d4;
  border-radius: 8px;
  padding: 1rem;
  min-height: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list.over{
  background-color: #d1d3d8;
}

h2{
  color: #555;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.card{
  background-color: white;
  color: #333;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: grab;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: transform 0.5s, box-shadow 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card:active{
  cursor: grabbing;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.xButton{
  color: rgb(151, 151, 151);
  background-color: #ffffff;
  font-weight: bolder;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 2px;
}

.xButton:hover{
  transform: scale(1.2);
  color: red;
  background-color: rgb(224, 123, 140);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border: none;
}

.xButton:active{
  transform: scale(1);
  background-color: #ffb9c2;
  color: red;
}

/*Formulari*/
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 8px;
  background-color: #cfd0d4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container h2{
  margin: 15px;
}

.form-group{
  display: grid;
  grid-auto-columns:auto;
  width: 100%;
  /*border: solid black 1px;*/
}

input, select, button{
  border: solid gray 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 15px;
}

@media (max-width:780px){
  .board{
    flex-direction: column;
    align-items: center;
  }

  .list, .form-container{
    width: 80%;
    margin-bottom: 20px;
  }
}